#gameCanvas{
    background-color: rgb(24, 24, 24);
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    padding: 0;
    margin: 0;
    font-family: 'Alan Sans', sans-serif;
    color: white;
    overflow: hidden;
}


.upgrade-tab {
  position: fixed;
  text-decoration: none;
  top: 0.6em;
  left: 0.6em;
  background: #242424;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(58, 58, 58, 0.4);
  border: rgb(19, 19, 19) solid 4px;
  overflow: hidden;
  width: 140px;
  transition: width 0.5s ease, height 0.5s ease, border 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  
  cursor: pointer;
}
.upgrade-tab:hover {
  box-shadow: 0 4px 12px rgba(42, 42, 42, 0.4);
  border: rgb(10, 10, 10) solid 4px;
}

.upgrade-header {
  background: #2d2d2d;
  padding: 10px 14px;
  font-weight: bold;
  text-align: center;
  border: #292929 solid 4px;
  border-bottom: 4px solid #1d1d1d;
  border-top: 4px solid #363636;
  
}


.upgrade-tab.active {
  width: 220px;
}
.upgrade-tab.active .upgrade-content {
  max-height: 200px;
}
.upgrade-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;
    gap: 8px;
    padding: 0 10px;  
}

.upgrade-tab.active .upgrade-content {
    max-height: 500px;
    padding: 10px;     
}


.upgrade-content button {
  background: #1f1f1f;
  border: 3px solid rgb(27, 27, 27);
  color: #fff;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s;
  font-family: 'Alan Sans', sans-serif;
  box-shadow: 0 1px 9px rgba(78, 78, 78, 0.4);
}
.upgrade-content button:hover {
  background: rgb(27, 27, 27);
  box-shadow: 0 1px 9px rgba(118, 118, 118, 0.4)
}

#moneyDisplay{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -100%);
}